.banner{
    display: flex;
    justify-content: flex-end;
    background-image: url(../../assets/img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid var(--preto);
    height: 90vh;
    padding: 115px 115px;
}

.banner .wrapper{
    display:flex;
    flex-direction: column;
    width: 40vw;
}

.banner .box{
    margin-bottom: 40px
}

.banner .navigation{
    display: flex;
    justify-content: space-evenly;
}