.button{
    display:inline-block;
    background-color: var(--principal);
    color:var(--branco);
    padding: 1.125rem 1.25rem;
    box-shadow: 0.3125rem 0.3125rem 0 var(--preto);
    margin-right: 0;
    transition: 300ms cubic-bezier(.45,.97,.68,2.48);
}

.button:hover{
    filter: contrast(130%);
    transform: scale(1.08);
}