.skills{
    background-color: var(--principal);
    height:90vh;
    border-bottom: 10px solid var(--escura);
    
    padding:40px;
}

.skills .title{
    color: var(--branco);
    text-shadow:none;
    text-align: center;
}

.skills .subtitle{
    font-size: 25px;
    text-shadow: none;
}